.dropdown{
    .dropdown-menu{
        background-color: #FFF;
        border: 0 none;
        border-radius: $border-radius-extreme;
        display: block;
        margin-top: 10px;
        padding: 0px;
        position: absolute;
        visibility: hidden;

        @include opacity(0);
        @include box-shadow($dropdown-shadow);

        .divider{
            background-color: $medium-gray;
            margin: 0px;
        }
        .dropdown-header{
            color: $dark-gray;
            font-size: $font-size-small;
            padding: 10px 15px;
        }
        .dropdown-item{
            color: $p-font-color;
            font-size: $font-size-base;
            padding: 10px 45px 10px 15px;
            clear: both;
            white-space: nowrap;
            width: 100%;
            display: block;
            &:hover{
                color: #FFF;
            }
           img{
               margin-top: -3px;
           }

        }
        .dropdown-item a:focus{
            outline: 0 !important;
        }
        .btn-group.select &{
            min-width: 100%;
        }
        .dropdown-item:first-child a,
        .dropdown-item:first-child{
           border-top-left-radius: $border-radius-extreme;
           border-top-right-radius: $border-radius-extreme;
        }
        .dropdown-item:last-child a,
        .dropdown-item:last-child{
            border-bottom-left-radius: $border-radius-extreme;
            border-bottom-right-radius: $border-radius-extreme;
        }
        .select & .dropdown-item:first-child a{
            border-radius: 0;
            border-bottom: 0 none;
        }
        .dropdown-item a:hover,
        .dropdown-item a:focus{
            color: #FFF;
            opacity: 1;
            text-decoration: none;

        }
        .dropdown-item:hover,
        .dropdown-item:focus{
            background-color: $color-2;
        }
    }
    .dropdown-divider{
        margin: 0 !important;
    }
    &.show .dropdown-menu{
        @include opacity(1);
        visibility: visible;
    }
}
.navbar-nav.mr-auto .dropdown-menu:before,
.navbar-nav.mr-auto .dropdown-menu:after,
.navbar-nav.ml-auto .dropdown-menu:before,
.navbar-nav.ml-auto .dropdown-menu:after{
    left: 12px !important;
    right: auto;
}
//fix bug for the select items in btn-group
.btn-group.select{
    // overflow: hidden;
}
.btn-group.select.open{
    overflow: visible;
}
.dropdown-menu-right{
    right: -2px;
    left: auto!important;
}

//  the style for opening dropdowns on mobile devices; for the desktop version check the _responsive.scss file
//  code from _responsive.scss

@media (min-width: 768px){
    .navbar-form {
        margin-top: 21px;
        margin-bottom: 21px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .navbar-search-form{
        display: none;
    }
    .navbar-nav .dropdown-item .dropdown-menu,
    .dropdown .dropdown-menu,
    .dropdown-btn .dropdown-menu{
        transform: translate3d(0px, -40px, 0px);
        transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, opacity 0.3s ease 0s, height 0s linear 0.35s;
    }
    .navbar-nav .dropdown-item.show .dropdown-menu,
    .dropdown.show .dropdown-menu,
    .dropdown-btn.show .dropdown-menu{
        transform: translate3d(0px, 15px, 0px);
        visibility: visible !important;
    }
    .bootstrap-select .dropdown-menu{
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: all 150ms linear;
        -moz-transition: all 150ms linear;
        -o-transition: all 150ms linear;
        -ms-transition: all 150ms linear;
        transition: all 150ms linear;
    }
    .dropup.show .dropdown-menu{
        -webkit-transform: translate3d(0, -10px, 0);
        -moz-transform: translate3d(0, -10px, 0);
        -o-transform: translate3d(0, -10px, 0);
        -ms-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
        opacity: 1;
        visibility: visible;
    }
    .dropup .dropdown-menu{
        transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, opacity 0.3s ease 0s, height 0s linear 0.35s;
        -webkit-transform: translate3d(0, 30px, 0);
        -moz-transform: translate3d(0, 30px, 0);
        -o-transform: translate3d(0, 30px, 0);
        -ms-transform: translate3d(0, 30px, 0);
        transform: translate3d(0, 30px, 0);
        opacity: 0;
        visibility: hidden;
        display: block;
    }

    .bootstrap-select .show .dropdown-menu{
        transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, opacity 0.3s ease 0s, height 0s linear 0.35s;
        transform: translate3d(0px, 0px, 0px);
    }

    .navbar-nav li .dropdown-menu:before,
    #dropdown-row .dropdown .dropdown-menu:before,
    .card.card-just-text .dropdown .dropdown-menu:before,
    .card-just-text .dropdown .dropdown-menu:before,
    .dropdown-btn .dropdown-menu:before{
        border-bottom: 11px solid $medium-gray;
        border-left: 11px solid rgba(0, 0, 0, 0);
        border-right: 11px solid rgba(0, 0, 0, 0);
        content: "";
        display: inline-block;
        position: absolute;
        left: 12px;
        top: -11px;
    }
    .dropdown .dropdown-menu-right.dropdown-menu:before{
        right: 12px;
        left: auto;
    }
    .navbar-nav li .dropdown-menu:after,
    #dropdown-row .dropdown .dropdown-menu:after,
    .card.card-just-text .dropdown .dropdown-menu:after,
    .card-just-text .dropdown .dropdown-menu:after,
    .dropdown-btn .dropdown-menu:after{
        border-bottom: 11px solid #FFF;
        border-left: 11px solid rgba(0, 0, 0, 0);
        border-right: 11px solid rgba(0, 0, 0, 0);
        content: "";
        display: inline-block;
        position: absolute;
        left: 12px;
        top: -10px;
    }
     .dropdown .dropdown-menu-right.dropdown-menu:after{
        right: 12px;
        left: auto;
    }
    #dropdown-row .dropdown .dropdown-menu{
        left: 15px;
    }
    .navbar-nav.navbar-right li .dropdown-menu:before,
    .navbar-nav.navbar-right li .dropdown-menu:after{
        left: auto;
        right: 12px;
    }

    // no dragging the others navs in page
    body > .navbar-collapse.collapse{
        display: none !important;
    }
}

#navbar {
    .dropdown-menu {
        .dropdown-item{
            padding: 3px 1.5rem !important;
        }
    }
}