footer{
    background: #ffffff url("../../../../assets/img/bg-footer.png") no-repeat right top;
    height: 150px;
}
.footer .copyright {
    padding: 10px 0;
    margin: 15px 3px;
    line-height: 20px;
    text-align: center;
    color: #a49e9e;
    font-size: .9em;
}