@import "../../../../assets/sass/variables";

/* Modal Login */
#formLoginModal {
    .modal-content, 
    .modal-header {
        border-bottom: none !important;
        .close {
            color: white;
        }
    }
    .modal-body,  
    .modal-content, 
    .modal-header {
        background-color: $color-1;
        color: white !important;
        border-radius: $b-radius !important;
    }
    h2, a {
        color: $color-3 !important;
    }
    .btn {
        width: 100% !important;
        display: block !important;
        height: auto;
        font-weight: bold;
        font-size: 1.1rem;
        border-radius: $b-radius !important;
        i {
            font-size: $i-font-size;
            padding-right: 1.5rem !important;
        }
    }
    .btn-primary {
        background-color: white !important;
        color: $color-1 !important;
        i {
            color: $color-1 !important;
        }
    }
    .btn-success{
        background-color: transparent !important;
        border: white 2px solid !important;
        color: white !important;
        i {
            color: white !important;
        }
    }
    .btn-primary:hover, .btn-success:hover {
        background-color: $color-3 !important;
        border: $color-3 2px solid !important;
        color: $color-1 !important;
        -webkit-transition-duration: 500ms;
        -o-transition-duration: 500ms;
        transition-duration: 500ms;
        i {
            color: $color-1 !important;
        }
    }
    input:-webkit-autofill {
        -webkit-text-fill-color: white !important;
        -webkit-box-shadow: 0 0 0px 1000px $color-1 inset !important;
        transition: $color-1 5000s ease-in-out 0s !important;
    }
    .form-control {
        padding: 10px !important;
        color: white !important;
        background-color: transparent !important;
        border: none;
        border-bottom: white 2px solid !important;
        border-radius: 0 !important;
    }
    .form-control:focus {
        box-shadow: 0 0 0 0.2rem rgba(white, 0.25);
        border: rgba(white, 0.25) solid 1px !important;
        border-radius: $b-radius $b-radius $b-radius 0 !important;
    }
    p {
        color: white !important;
        padding-top: 0.5rem;
    }
}

// Pantallas pequeñas
@media (min-width: 461px) {
    form {
        width: 75%;
    }
}